@media screen and (max-width: 480px){
    /* Can specify different styles for screens with a smaller width here */
}

/* Border Box */
*{
    box-sizing: border-box;
}

/* Default overall settings */
body{
    font-family: Finlandica Headline;
    background-color: rgb(225, 255, 212);
    color: rgb(105, 0, 0);
    font-size: 1.0rem;

    /* Box model elements for entire page */
    margin: 2em;
    padding: 2em;
    border: 20px solid rgb(0, 131, 0);
}

header{
    /* Space between header and the rest of the page */
    padding-bottom: 5em;

    /* Flex container */
    display: flex;
    justify-content: space-between;
    height: 15em;
}

/* Header links positioned bottom right */
header p{
    align-self: flex-end;
}

/* Profile image */
img{
    outline: 2px solid rgb(0, 131, 0);

    /* Aligns the profile image to the upper left and makes it round */
    border-radius: 50%;
    width: 10em;
    height: 10em;
    object-fit: cover;
    object-position: 100% 80%; 
    align-self: flex-start;

    /* Animation speed and style when hovering over */
    transition: outline-color 0.5s ease, width 0.5s ease, height 0.5s ease, border-radius 0.5s ease;
}

/* Profile becomes larger when hovering over it */
img:hover{
    width: 15em;
    height: 15em;
    outline-color: black;
    border-radius: 0%;
}

/* Section separators */
section{
    margin: 2em;
    border-top: 10px solid rgb(0, 131, 0);
}

/* Animation meant to be used for major headers */
@keyframes disappear{
    from{ opacity: 1; transform: translateY(0px);}
    to{ opacity: 0; transform: translateY(-20px);}
}

/* Name at the top of the CV */
h1{
    font-family: Libre Baskerville;
    text-align: center;
    font-size: 3.0rem;
    text-shadow: 2px 2px 2px rgb(37, 0, 0);

    /* Position the name centered */
    align-self: center;

    /* Animation as it goes out of view */
    animation: disappear ease;
    animation-timeline: view();
    animation-range: 80% 100%;
}

/* Section titles */
h2{
    font-family: Libre Baskerville;
    text-transform: uppercase;
    font-size: 2.0rem;

    /* Animation as it goes out of view */
    animation: disappear ease;
    animation-timeline: view();
    animation-range: 80% 100%;
}

/* Sub-section titles */
h3{
    font-size: 1.5rem;
}

/* Links */
a{
    text-decoration: none;
    color: rgb(0, 0, 170);
}

/* Animation for when hovering over the link */
a:hover{
    color: rgb(0, 183, 255)
}

/* Replace form input borders */
form input, form textarea{
    outline: 2px solid rgb(0, 131, 0);
}

/* Flex container to make the form content centered */
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 40%;
    padding-right: 40%;
}

/* Center footer title */
footer h2{
    text-align: center;
}